[submodule "talent-olympics/dao-voting"]
	path = talent-olympics/dao-voting
	url = https://github.com/kox/talent-olympics-dao-voting
[submodule "talent-olympics/meme-predictions"]
	path = talent-olympics/meme-predictions
	url = https://github.com/kox/talent-olympics-meme-predictions
[submodule "talent-olympics/mint-lock-swap-nfts"]
	path = talent-olympics/mint-lock-swap-nfts
	url = https://github.com/kox/talent-olympics-mint-lock-swap-nfts
[submodule "talent-olympics/two-sided-marketplace"]
	path = talent-olympics/two-sided-marketplace
	url = https://github.com/kox/talent-olympics-two-sided-marketplace
[submodule "talent-olympics/whitelist-gated"]
	path = talent-olympics/whitelist-gated
	url = https://github.com/kox/talent-olympics-whitelist-gated
[submodule "bridge-to-turbin3"]
	path = bridge-to-turbin3
	url = https://github.com/kox/bridge-to-turbin3-homework-1
[submodule "turbin3-cli"]
	path = turbin3-cli
	url = https://github.com/kox/wba-turbin3-cohort.git
[submodule "anchor-vote"]
	path = anchor-vote
	url = https://github.com/kox/turbin3-vote.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/kox/anchor-escrow.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/kox/anchor-vault.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/kox/anchor-amm.git
[submodule "anchor-nft-stake"]
	path = anchor-nft-stake
	url = https://github.com/kox/anchor-nft-stake.git
[submodule "blinks/rug-server"]
	path = blinks/rug-server
	url = https://github.com/kox/fastify-solana-blinks.git
[submodule "blinks/production-server"]
	path = blinks/production-server
	url = https://github.com/kox/solana-blink-fastify-lambda
[submodule "anchor-nft-core-stake"]
	path = anchor-nft-core-stake
	url = https://github.com/kox/anchor-nft-core-stake.git
[submodule "capstone"]
	path = capstone
	url = https://github.com/kox/vplex.git
[submodule "anchor-marketplace"]
	path = anchor-marketplace
	url = https://github.com/kox/anchor-marketplace.git
[submodule "anchor-dice-game"]
	path = anchor-dice-game
	url = https://github.com/kox/anchor-dice-game.git
